<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102126802792-ke7670jmpi2ndtma93redd96hin4mgtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102126802792-ke7670jmpi2ndtma93redd96hin4mgtm</string>
	<key>API_KEY</key>
	<string>AIzaSyBfqO3p_CvKXtPyZ6sJnjjG6PRZ8iZClbU</string>
	<key>GCM_SENDER_ID</key>
	<string>102126802792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.Hvrdwell.AzsProject</string>
	<key>PROJECT_ID</key>
	<string>gas-station-23710</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-station-23710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102126802792:ios:43902388845703854a68dd</string>
</dict>
</plist>